* {
  font-family: "Lucida Console", Monaco, monospace;
  box-sizing: border-box;
}

#navCont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  border-radius: 2px;
  border: 2px solid black; 
}

li {
  padding: 5px;
  margin: 3px;
  border-radius: 2px;
  width: 120px;
  text-align: center;
}

#displayWords {
  /*for the randWord tab*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin: 0px 40%; */
}

#keyInput {
  height: 20px; 
  font-size: 16px;
  margin: 5px;
}

#submit {
  font-size: 16px;
  margin-top: 10px;
}

#keyword {
  display: none;
}
